pre { line-height: 125%; }
td.linenos .normal { color: #5c6370; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #5c6370; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.preview .hll { background-color: #67769660 }
.preview { background: #282c34; color: #ABB2BF }
.preview .c { color: #7F848E } /* Comment */
.preview .err { color: #E06C75 } /* Error */
.preview .esc { color: #56B6C2 } /* Escape */
.preview .k { color: #C678DD } /* Keyword */
.preview .l { color: #98C379 } /* Literal */
.preview .o { color: #56B6C2 } /* Operator */
.preview .ch { color: #7F848E } /* Comment.Hashbang */
.preview .cm { color: #7F848E; font-style: italic } /* Comment.Multiline */
.preview .cp { color: #C678DD } /* Comment.Preproc */
.preview .cpf { color: #98C379 } /* Comment.PreprocFile */
.preview .c1 { color: #7F848E; font-style: italic } /* Comment.Single */
.preview .cs { color: #7F848E } /* Comment.Special */
.preview .gd { color: #E06C75 } /* Generic.Deleted */
.preview .ge { color: #C678DD; font-style: italic } /* Generic.Emph */
.preview .gr { color: #E06C75 } /* Generic.Error */
.preview .gh { color: #E06C75 } /* Generic.Heading */
.preview .gi { color: #98C379 } /* Generic.Inserted */
.preview .go { color: #98C379 } /* Generic.Output */
.preview .gp { color: #5C6370 } /* Generic.Prompt */
.preview .gs { color: #D19A66 } /* Generic.Strong */
.preview .gu { color: #E06C75 } /* Generic.Subheading */
.preview .gt { color: #E06C75 } /* Generic.Traceback */
.preview .kc { color: #D19A66 } /* Keyword.Constant */
.preview .kd { color: #C678DD } /* Keyword.Declaration */
.preview .kn { color: #C678DD } /* Keyword.Namespace */
.preview .kp { color: #61AFEF } /* Keyword.Pseudo */
.preview .kr { color: #C678DD } /* Keyword.Reserved */
.preview .kt { color: #D19A66 } /* Keyword.Type */
.preview .ld { color: #98C379 } /* Literal.Date */
.preview .m { color: #D19A66 } /* Literal.Number */
.preview .s { color: #98C379 } /* Literal.String */
.preview .na { color: #D19A66 } /* Name.Attribute */
.preview .nb { color: #56B6C2 } /* Name.Builtin */
.preview .nc { color: #E5C07B } /* Name.Class */
.preview .no { color: #E5C07B } /* Name.Constant */
.preview .nd { color: #56B6C2 } /* Name.Decorator */
.preview .ne { color: #56B6C2 } /* Name.Exception */
.preview .nf { color: #61AFEF } /* Name.Function */
.preview .nl { color: #61AFEF } /* Name.Label */
.preview .nt { color: #E06C75 } /* Name.Tag */
.preview .nv { color: #E06C75 } /* Name.Variable */
.preview .ow { color: #56B6C2 } /* Operator.Word */
.preview .w { color: #ABB2BF } /* Text.Whitespace */
.preview .mb { color: #D19A66 } /* Literal.Number.Bin */
.preview .mf { color: #D19A66 } /* Literal.Number.Float */
.preview .mh { color: #D19A66 } /* Literal.Number.Hex */
.preview .mi { color: #D19A66 } /* Literal.Number.Integer */
.preview .mo { color: #D19A66 } /* Literal.Number.Oct */
.preview .sa { color: #C678DD } /* Literal.String.Affix */
.preview .sb { color: #98C379 } /* Literal.String.Backtick */
.preview .sc { color: #98C379 } /* Literal.String.Char */
.preview .dl { color: #98C379 } /* Literal.String.Delimiter */
.preview .sd { color: #98C379 } /* Literal.String.Doc */
.preview .s2 { color: #98C379 } /* Literal.String.Double */
.preview .se { color: #56B6C2 } /* Literal.String.Escape */
.preview .sh { color: #98C379 } /* Literal.String.Heredoc */
.preview .si { color: #D19A66 } /* Literal.String.Interpol */
.preview .sx { color: #98C379 } /* Literal.String.Other */
.preview .sr { color: #E06C75 } /* Literal.String.Regex */
.preview .s1 { color: #98C379 } /* Literal.String.Single */
.preview .ss { color: #56B6C2 } /* Literal.String.Symbol */
.preview .bp { color: #E5C07B } /* Name.Builtin.Pseudo */
.preview .fm { color: #61AFEF } /* Name.Function.Magic */
.preview .vc { color: #E06C75 } /* Name.Variable.Class */
.preview .vg { color: #E06C75 } /* Name.Variable.Global */
.preview .vi { color: #E06C75 } /* Name.Variable.Instance */
.preview .vm { color: #E06C75 } /* Name.Variable.Magic */
.preview .il { color: #D19A66 } /* Literal.Number.Integer.Long */