#!/bin/bash

printf "%d %s\n" 10 "foo"
printf "%d %s\n" $((10#1)) "bar"

let "m = 10#${1:1:2}"
echo $m

cat <<-EOF
  Hello world $PATH
  EOF

# https://github.com/pygments/pygments/blob/master/tests/examplefiles/bash
