pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.preview .hll { background-color: #3D424C }
.preview { background: #0D1017; color: #BFBDB6 }
.preview .c { color: #646B73 } /* Comment */
.preview .err { color: #D95757 } /* Error */
.preview .g { color: #BFBDB6 } /* Generic */
.preview .k { color: #FF8F40 } /* Keyword */
.preview .o { color: #F29668 } /* Operator */
.preview .ch { color: #646B73 } /* Comment.Hashbang */
.preview .cm { color: #646B73; font-style: italic } /* Comment.Multiline */
.preview .cp { color: #FF8F40 } /* Comment.Preproc */
.preview .cpf { color: #AAD94C } /* Comment.PreprocFile */
.preview .c1 { color: #646B73; font-style: italic } /* Comment.Single */
.preview .cs { color: #646B73 } /* Comment.Special */
.preview .gd { color: #F26D78 } /* Generic.Deleted */
.preview .ge { color: #FFB454; font-style: italic } /* Generic.Emph */
.preview .ges { color: #BFBDB6 } /* Generic.EmphStrong */
.preview .gr { color: #D95757 } /* Generic.Error */
.preview .gh { color: #FFB454; font-weight: bold } /* Generic.Heading */
.preview .gi { color: #7FD962 } /* Generic.Inserted */
.preview .go { color: #AAD94C } /* Generic.Output */
.preview .gp { color: #646B73 } /* Generic.Prompt */
.preview .gs { color: #FFB454; font-weight: bold } /* Generic.Strong */
.preview .gu { color: #BFBDB6 } /* Generic.Subheading */
.preview .gt { color: #D95757 } /* Generic.Traceback */
.preview .kc { color: #D2A6FF } /* Keyword.Constant */
.preview .kd { color: #E6B450 } /* Keyword.Declaration */
.preview .kn { color: #FF8F40 } /* Keyword.Namespace */
.preview .kp { color: #FF8F40 } /* Keyword.Pseudo */
.preview .kr { color: #FF8F40 } /* Keyword.Reserved */
.preview .kt { color: #59C2FF } /* Keyword.Type */
.preview .m { color: #D2A6FF } /* Literal.Number */
.preview .s { color: #AAD94C } /* Literal.String */
.preview .na { color: #FFB454 } /* Name.Attribute */
.preview .nb { color: #F07178 } /* Name.Builtin */
.preview .nc { color: #39BAE6 } /* Name.Class */
.preview .no { color: #D2A6FF } /* Name.Constant */
.preview .nd { color: #E6B673 } /* Name.Decorator */
.preview .nf { color: #FFB454 } /* Name.Function */
.preview .nt { color: #39BAE6 } /* Name.Tag */
.preview .ow { color: #F29668 } /* Operator.Word */
.preview .w { color: #BFBDB6 } /* Text.Whitespace */
.preview .mb { color: #D2A6FF } /* Literal.Number.Bin */
.preview .mf { color: #D2A6FF } /* Literal.Number.Float */
.preview .mh { color: #D2A6FF } /* Literal.Number.Hex */
.preview .mi { color: #D2A6FF } /* Literal.Number.Integer */
.preview .mo { color: #D2A6FF } /* Literal.Number.Oct */
.preview .sa { color: #AAD94C } /* Literal.String.Affix */
.preview .sb { color: #F29668 } /* Literal.String.Backtick */
.preview .sc { color: #AAD94C } /* Literal.String.Char */
.preview .dl { color: #AAD94C } /* Literal.String.Delimiter */
.preview .sd { color: #95E6CB; font-style: italic } /* Literal.String.Doc */
.preview .s2 { color: #AAD94C } /* Literal.String.Double */
.preview .se { color: #AAD94C } /* Literal.String.Escape */
.preview .sh { color: #AAD94C } /* Literal.String.Heredoc */
.preview .si { color: #AAD94C } /* Literal.String.Interpol */
.preview .sx { color: #AAD94C } /* Literal.String.Other */
.preview .sr { color: #95E6CB } /* Literal.String.Regex */
.preview .s1 { color: #AAD94C } /* Literal.String.Single */
.preview .ss { color: #AAD94C } /* Literal.String.Symbol */
.preview .bp { color: #F07178 } /* Name.Builtin.Pseudo */
.preview .fm { color: #FFB454 } /* Name.Function.Magic */
.preview .vi { color: #E6B450 } /* Name.Variable.Instance */
.preview .vm { color: #39BAE6; font-style: italic } /* Name.Variable.Magic */
.preview .il { color: #D2A6FF } /* Literal.Number.Integer.Long */